* {
    margin: 0 auto;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #22272e;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.result{
    background-color: #00b63e;
    width: 100%;
    max-width: 420px;
    max-height: 200px;
    padding: 20px 20px;
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 24px 0;
    transition: transform 0.8s;
}

.result-title{
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    margin-bottom: 16px;
}

.result span{
    color: #fff;
    margin: 8px;
}

.result:hover{
    transform: scale(1.1);
}